<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/web/
RewriteRule ^(.*)$ /web/$1
</IfModule>

# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
order allow,deny
deny from all
</Files>

<Files debug.log>
order allow,deny
deny from all
</Files>