.accordion{
  border-bottom: 1px solid #000; //todo: theme
  .accordion-toggle{
    cursor: pointer;
    min-height: 20px;
  .chevron{
    &:before,
    &:after{
      transition: transform 400ms;
    }
  }
  }
  &.accordion-pre-init{
    .accordion-content{
      display: none;
    }
  }
}