RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule /sites/([0-9]+)/listings([0-9]+)\.json$ app/uploads/sites/$1/listings.json [L]
RewriteRule listings([0-9]+)\.json$ /app/uploads/listings.json [L]

RewriteRule ^app/themes/standardsite/node_modules/slick-carousel/slick/ajax-loader\.[a-f0-9]+\.gif$ /app/themes/standardsite/public/images/slick-ajax-loader.gif [L,R=301]

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) wp/$1 [L]
RewriteRule ^(?!wp\/)(.*\.php)$ wp/$1 [L]
RewriteRule . index.php [L]